*{
    margin: 0px;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header{
    display: flex;
    justify-content: space-around;
    background-color: black;    
}

nav{
    padding: 20px;
}

a{
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    color: white;
}

img{
    width: 40px;
}

.icones{
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}
.icones:hover{
    box-shadow: 5px 5px 5px greenyellow;

}
.icones2{
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}
.icones2:hover{
    box-shadow: 5px 5px 5px rgb(21, 232, 255);
}

.icones3{
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}
.icones3:hover{
    box-shadow: 5px 5px 5px rgb(255, 67, 249);
}

.p1{   
    padding-top: 10rem;
    font-size: 45px;
    margin-left: 15px;
    margin-top: -100px;
}

.p2{
    margin-left: 15px;
}
h1{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.img2{
    width: 20rem;
    border: solid rgba(255, 255, 255, 0.352);
    border-radius: 500px;

}

.titulo{
    text-align: center;
}
.p3{
    font-size: 45px;
    text-align: center;
}